.header-container,
.header-inner,
.header-logo,
.header-nav,
.header-nav ul {
  display: flex;
}

.header-container {
  border-bottom: 1px solid #dfdfdf;
  padding: 1rem 3rem;
}

.header-inner {
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  align-items: center;
  font-size: 32px;
  color: #000;
  text-decoration: none;
}

.header-logo div {
  margin-left: 1rem;
}

.header-nav {
  align-items: center;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.header-nav ul li:last-child::before {
  padding-right: 1rem;
  content: '|';
}

.header-logo img {
  width: 50px;
  height: 50px;
}
