button {
  cursor: pointer;
}

.dragonWrapper {
  display: flex;
  padding: 12px;
  gap: 12px;
}

.dragonImage {
  width: 250px;
  height: 180px;
  flex-shrink: 0;
}

.dragonWrapper h2 {
  margin: 0;
}

.dragonWrapper p {
  margin: 12px 0;
}

.dragonWrapper span {
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 6px;
}

.dragonWrapper .dragonReservedBadge {
  background-color: #19a3b9;
  color: #fff;
  padding: 0 2px;
  font-size: 12px;
  border-radius: 2px;
  margin-right: 8px;
  font-weight: normal;
}

.dragonButton {
  padding: 8px 14px;
  background-color: #007bff;
  color: #fff;
  border: 0;
  border-radius: 4px;
}

.dragonButton:hover {
  background-color: lightgray;
  color: #007bff;
}

.dragonButton:active {
  background-color: #94aac0;
}

.dragonButtonCancel {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 7px 13px;
  border-radius: 4px;
}

.dragonButtonCancel:hover {
  background-color: lightgray;
}

.dragonButtonCancel:active {
  background-color: #94aac0;
}
